

*{

    user-select: none;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;     
    transition: all;
    transition-duration: 1000ms;
}


html, body {
    touch-action: none;
    overflow: hidden;   
    -ms-touch-action: none;
    -webkit-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}
html, body {
    height: 100%; 
    width: 100%;

    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #ff6666 0%, #e9967a 100%);
}
.gatto{
    height: 200px;
    width: 200px;
    border-radius:30px ;
    background-color: white;
    margin-top: 150px;
    align-self: center;
    margin-bottom: 100px;
    
}

.gatt{
    height: 200px;
    width: 200px;
    border-radius:30px ;
    background-color: white;
    margin-top: 150px;
    align-self: center;
    margin-bottom: 200px;

}

.start{
    display:flex;
    flex-direction:column;
   width: 100%;
   color:white;
   font-family: 'Minecraft', sans-serif;
font-size: 40px;

}
.start div{
    text-align: center;
}


img{ 

    border-radius: 30px  ; 
    margin-bottom:100px;
    align-self: center;
}

.imgn{
margin-bottom: 0;
border-radius: 0px;
}
.main{
    display:flex;
    flex-direction:column;
   width: 100%;

}
.box{
    text-align: center;
display: flex;
align-items: center;
justify-content: center;
font-family: 'Minecraft', sans-serif;
height: 70px;
width: 80px;

    color:darksalmon;
    background-color: white;
    padding: 10;
    border-radius: 10px;
    border: 1px solid black;

}
.selezione{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}


.selezione .box{
transition: transform 0.2s;


}

.m-t{
    margin-top: 20px;
}

.selezione .box:active{
    transform: scale(1.2);
    
    }

.d{
    height: 110px;
    width: 140px;
    border-bottom-left-radius: 0px;
    box-shadow: 10px 10px rgba(0,0,0,0.2);

    position: absolute;
    top:0;
    margin-left:150px;
    margin-top: 80px;
    
}
canvas{


    border-radius: 30px;
}

.particle {
    position: absolute;
    width: 15px; 
    height: 15px;
    background-color:#e9967a;
    background-size: cover;
    border-radius: 50%;
   

    pointer-events: none; 
    opacity: 0; 
    transition: opacity 0.2s ease-out; 
}

.box input{

    -webkit-appearance: none; 
    width: 50px;              
    height: 50px;             
    border: none;             
    border-radius: 50%;       
    cursor: pointer;         
    outline: none; 

}

input[type="color"]::-webkit-color-swatch {
    border-radius: 50%;       
    border: none;             
}